.home {
  padding: 60px 30px;
  height: 100%;
}

.home__container { 
  margin: 0 auto;
  max-width: 1024px;
}

.home__content-div {
  display: flex;
  margin-bottom: 30px;
}

.home__description {
  text-align: start;
  width: 50%;
}

.home__new-button {
  width: 50%;
  text-align: end;
}

.home__action-column {
  display: flex;
}

.home__action-button {
  width: 30px;
  padding-right: 10px;
  cursor: pointer;
}